[submodule "plugins/agkozak-zsh-prompt"]
	path = plugins/agkozak-zsh-prompt
	url = git@github.com:agkozak/agkozak-zsh-prompt
[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting
[submodule "plugins/zsh-autoenv"]
	path = plugins/zsh-autoenv
	url = git@github.com:Tarrasch/zsh-autoenv
[submodule "plugins/zsh-defer"]
	path = plugins/zsh-defer
	url = git@github.com:romkatv/zsh-defer
[submodule "plugins/zsh-z"]
	path = plugins/zsh-z
	url = git@github.com:agkozak/zsh-z
[submodule "plugins/zpy"]
	path = plugins/zpy
	url = git@github.com:andydecleyre/zpy
[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions
